<div class="button-group">
  <button class="button buttonGreen" [ngClass]="{'selected': valueSlot == 0}" (click)="selectSlotPreferences(0)"></button>
  <button class="button buttonYellow" [ngClass]="{'selected': valueSlot == 1}" (click)="selectSlotPreferences(1)"></button>
  <button class="button buttonRed" [ngClass]="{'selected': valueSlot == 2}" (click)="selectSlotPreferences(2)"></button>
  <div class="triangle" [ngClass]="{'triangleLow': valueSlot == 0, 'triangleMid': valueSlot == 1, 'triangleHigh': valueSlot == 2}"></div>
</div>
