html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #ffffff;

  --dot-bg: #1f1f1f;
  --dot-color: white;
  --dot-size: 0.7px;
  --dot-space: 22px;
  background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

.app-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  position: fixed;
  left: -250px;
  top: 0;
  width: 250px;
  height: 100%;
  background: linear-gradient(to right,
      rgb(66, 2, 73) 0%,
      rgba(138, 8, 214, 0.8) 60%,
      rgba(255, 0, 0, 0) 100%);
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

.sidebar h2 {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* CALENDARIO */
:root {
  --numDays: 5;
  --numHours: 10;
  --timeHeight: 60px;
  --calBgColor: #fff1f8;
  --eventBorderColor: #f2d3d8;
  --eventColor1: #ffd6d1;
  --eventColor2: #fafaa3;
  --eventColor3: #e2f8ff;
  --eventColor4: #d1ffe6;
}

.calendar {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr;
  margin: 1rem;
  /* Ridotto per evitare overflow */
  overflow-y: auto;
  /* Permetti scroll verticale */
  max-height: 100%;
  /* Assicura che la card non cresca oltre i limiti */
}

.timeline {
  display: grid;
  grid-template-rows: repeat(var(--numHours), 1fr); /* Assicura che le righe siano distribuite equamente */
  align-items: start;
  gap: 0; /* Assicura che non ci sia spazio tra le righe */
}

.days {
  display: grid;
  grid-column: 2;
  gap: 5px;
  grid-template-columns: repeat(var(--numDays), 1fr);
  /* Colonne per i giorni */
}

.events {
  display: grid;
  grid-template-rows: repeat(var(--numHours), 1fr);
  /* Allinea righe eventi con quelle della timeline */
  border-radius: 5px;
  background: var(--calBgColor);
}

.time-marker {
  display: flex;
  align-items: center;
  justify-content: center; /* Per centrare il testo orizzontalmente */
  padding-left: 10px;
  height: var(--timeHeight); /* Assicura che l'altezza corrisponda alla griglia */
  font-size: 1.2rem;
  border-bottom: 1px solid #ddd; /* Aggiungi una linea di separazione tra le ore */
}

.space,
.date {
  height: 60px;
}

.start-10 {
  grid-row-start: 2;
}

.start-12 {
  grid-row-start: 4;
}

.start-1 {
  grid-row-start: 5;
}

.start-2 {
  grid-row-start: 6;
}

.end-12 {
  grid-row-end: 4;
}

.end-1 {
  grid-row-end: 5;
}

.end-3 {
  grid-row-end: 7;
}

.end-4 {
  grid-row-end: 8;
}

.end-5 {
  grid-row-end: 9;
}

/* Event */

.title {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.event {
  border: 1px solid var(--eventBorderColor);
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0 0.5rem;
  background: white;
}

.corp-fi {
  background: var(--eventColor1);
}

.ent-law {
  background: var(--eventColor2);
}

.writing {
  background: var(--eventColor3);
}

.securities {
  background: var(--eventColor4);
}

.date {
  display: flex;
  gap: 1em;
}

.date-num {
  font-size: 3rem;
  font-weight: 600;
  display: inline;
}

.date-day {
  display: inline;
  font-size: 3rem;
  font-weight: 100;
}