html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #ffffff;

    --dot-bg: #1f1f1f;
    --dot-color: white;
    --dot-size: 0.7px;
    --dot-space: 22px;
    background:
        linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);
}

.app-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background: linear-gradient(to right,
            rgb(66, 2, 73) 0%,
            rgba(138, 8, 214, 0.8) 60%,
            rgba(255, 0, 0, 0) 100%);
    transition: left 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

.sidebar h2 {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.calendar-container {
    width: 90%;
    height: 73vh;
    max-width: 1200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

.calendar {
    width: 100%;
    height: 100%;
}

.sx__calendar-wrapper * {
    font-family: 'Montserrat', sans-serif !important;
}

.sx__day-grid-cell-content {
    font-weight: 300;
}

.sx__event-title {
    font-weight: 500;
}

.sx__time-column-header {
    font-weight: 400;
}

.calendar {
    height: 100%;
    width: 100%;
}

/* Aggiungiamo uno stile per limitare l'altezza massima del calendario */
.calendar-container {
    max-height: calc(80vh - 2rem);
    /* 80% dell'altezza della viewport meno un po' di spazio per il padding */
    overflow: auto;
}